<form id="taxcode" name="taxcode" [formGroup]="taxcodeForm">
  <div id="name-input-field" >
    <label for="name" >Nome: </label>
    <input type="text" required name="name" id="name" formControlName="nameInput"/>
    <span *ngIf=" nameInput?.value != '' && nameInput?.touched && nameInput?.errors">
      <p>Il nome non può contenere numeri o caratteri speciali, controllare nuovamente!</p>
    </span>
    <span *ngIf="nameInput?.hasError('required') && nameInput?.touched">
      <p>Il campo del nome è vuoto!</p>
    </span>
  </div>

  <div id="surname-input-field">
    <label for="surname">Cognome: </label>
    <input type="text" required name="surname" id="surname" formControlName="surnameInput"/>
    <span *ngIf=" surnameInput?.value != '' && surnameInput?.touched && surnameInput?.errors">
      <p>Il cognome non può contenere numeri o caratteri speciali, controllare nuovamente!</p>
    </span>
    <span *ngIf="surnameInput?.hasError('required') && surnameInput?.touched">
      <p>Il campo del cognome è vuoto!</p>
    </span>
  </div>
  <div id="birth-place-input-field">
    <label for="birth-place">Luogo di nascita: </label>
    <input type="text" required name="birth-place" id="birth-place" formControlName="birthplaceInput"/>
    <span *ngIf=" birthplaceInput?.value != '' && birthplaceInput?.touched && birthplaceInput?.errors">
      <p>Sembra che il luogo da te scelto non esista!</p>
    </span>
    <span *ngIf="birthplaceInput?.hasError('required') && birthplaceInput?.touched">
      <p>Il campo del luogo di nascita è vuoto!</p>
    </span>
  </div>
  <div id="date-input-field">
    <label for="date-of-birth">Data di nascita: </label>
    <input type="date" required name="date-of-birth" id="date-of-birth" formControlName="dateInput"/>
    <span *ngIf=" dateInput?.value != '' && dateInput?.touched && dateInput?.errors">
      <p>Sembra che la data sia futura!</p>
    </span>
    <span *ngIf="dateInput?.hasError('required') && dateInput?.touched">
      <p>Il campo della data di nascita è vuoto!</p>
    </span>
  </div>
  <div id="gender-input-field">
    <div class="radio-wrapper">
      <label for="male">M</label>
      <input type="radio" id="male" name="radio-gender" required checked>
    </div>
    <div class="radio-wrapper">
      <label for="female">F</label>
      <input type="radio" id="female" name="radio-gender">
    </div>
  </div>
  <input type="submit" id="buttonSubmit" value="Calcola">
</form>
