<form id="taxcode" name="taxcode" [formGroup]="taxcodeForm" (ngSubmit)="console.log(this.nameUser?.errors)">
  <div id="name-input-field">
    <label for="nameUser" >Nome: </label>
    <input type="text" required name="nameUser" id="nameUser" formControlName="nameUser"/>
    <span *ngIf="nameUser?.touched && nameUser?.errors">
      <p>Il nome non può contenere numeri o caratteri speciali, controllare nuovamente!</p>
    </span>
  </div>
  <div id="surname-input-field">
    <label for="surname">Cognome: </label>
    <input type="text" required name="surname" id="surname"/>
  </div>
  <div id="birth-place-input-field">
    <label for="birth-place">Luogo di nascita: </label>
    <input type="text" required name="birth-place" id="birth-place"/>
  </div>
  <div id="date-input-field">
    <label for="date-of-birth">Data di nascita: </label>
    <input type="date" required name="date-of-birth" id="date-of-birth"/>
  </div>
  <div id="gender-input-field">
    <div class="radio-wrapper">
      <label for="male">M</label>
      <input type="radio" id="male" name="radio-gender" required>
    </div>
    <div class="radio-wrapper">
      <label for="female">F</label>
      <input type="radio" id="female" name="radio-gender">
    </div>
  </div>
  <input type="submit" id="buttonSubmit">
  <label for="buttonSubmit">Submit</label>
</form>
